
.baseView {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.selectView {
    padding: 5px;
}

.chartView {
    margin-bottom: 5px;
}

.inputTableView {
    padding: 5px;
}

.aircraftSelect {
    width: 300px;
}